@import "../../../../variables/style";

.Textarea {
  textarea {
    &:focus {
      border-bottom: 1px solid $brand-primary !important; //TODO: Remove important
      box-shadow: 0 1px 0 0 $brand-primary !important; //TODO: Remove important
      & + label {
        color: $brand-primary!important; //TODO: Remove important
      }
    }
  }
}
