@import "../../../../variables/style";

.DatePicker {
  border-bottom: 1px solid $gray-light !important; //TODO: Remove important
  box-shadow: 0 1px 0 0 $gray-light !important; //TODO: Remove important
  margin-bottom: 5px !important; //TODO: Remove important

  & + label {
    color: $gray-light!important; //TODO: Remove important
  }

  &:focus {
    border-bottom: 1px solid $brand-primary !important; //TODO: Remove important
    box-shadow: 0 1px 0 0 $brand-primary !important; //TODO: Remove important
    & + label {
      color: $brand-primary!important; //TODO: Remove important
    }
  }

  &.error {
    border-bottom-color: $brand-danger !important; //TODO: Remove important
    box-shadow: 0 1px 0 0 $brand-danger !important; //TODO: Remove important
    & + label {
      color: $brand-danger!important; //TODO: Remove important
    }
  }
}
