@import "../../variables/style";
@import "../../variables/mixins";

.App {
  padding: 0;
  margin: 0;

  @media only screen and (min-width: 601px) {
    .page {
      margin: 20px 0 0 100px;
    }
  }
}
