@import "../../../../variables/style";
@import "../../../../variables/mixins";

.Navbar {
  background: $panel-bg;
  box-shadow: 0 2px 2px 0 lighten($brand-primary, 14%), 0 1px 5px 0 lighten($brand-primary, 12%), 0 3px 1px -2px lighten($brand-primary, 20%);

  .panel {
    width: 100px;
    transition-delay: 1s;
    background: $panel-bg;
    box-shadow: 0 2px 2px 0 lighten($brand-primary, 14%), 0 1px 5px 0 lighten($brand-primary, 12%), 0 3px 1px -2px lighten($brand-primary, 20%);
    @include transition(all .3s ease-in);
    &:hover {
      width: 300px;

      .link {
        opacity: 1;
      }
    }

    .link {
      opacity: 0;
      color: $link-color;
      @include transition(all .5s ease-in);
    }

    a {
      border: 1px solid transparent;
      &:hover {
        background-color: darken($brand-primary, 10%);
        border-color: $brand-primary;
      }

      i {
        color: $link-color!important;
      }
    }
  }

  .account {
    display: inline-block;
    a {
      padding: 0;
      img {
        max-width: 100%;
        @include transition(all 0.5s);
        &:not(:hover) {
          filter: grayscale(100%) opacity(90%);
        }
      }
    }
  }
}
