@mixin transition($args...) {
  transition: $args;
  -khtml-transition: $args;
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
}

@mixin box-shadow($args...) {
  box-shadow: $args;
  -khtml-box-shadow: $args;
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  -ms-box-shadow: $args;
  -o-box-shadow: $args;
}
