@import "../../variables/style";

.Telephony {
  .cell {
    cursor: pointer;
    text-align: center;
    transition: all .5s ease-out;
    &:hover {
      background: rgba($brand-primary, .5);
    }

    .footnote {
      font-size: 12px;
      color: #9e9e9e;
    }
  }
}
